<style>
    #febs-company-detail #company-img, #febs-company-detail .company-info {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }

    #febs-company-detail #company-img img {
        width: 7rem;
        margin: 10px 10px 0 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    #febs-company-detail #company-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #febs-company-detail .company-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

    #febs-company-detail #options-wrapper a {
        padding: 4px 6px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

    #febs-company-detail #options-wrapper a:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }

</style>
<div class="layui-fluid" id="febs-company-detail" lay-title="公司信息">
    <div id="company-info-wrapper">
        <div id="company-img">
        </div>
        <div class="company-info">
            <div><span class="layui-icon layui-icon-trophy"></span> 名称：
                [[${company.name}]]
            </div>
            <div><span class="layui-icon layui-icon-trophy"></span> 编码：
                [[${company.code}]]
            </div>
            <div><span class="layui-icon layui-icon-trophy"></span> 简称：
                [[${company.shortName}]]
            </div>
            <div><span class="layui-icon layui-icon-user"></span> 法人：
                [[${company.legalRepresentative}]]
            </div>
            <div><span class="layui-icon layui-icon-password"></span> 状态：
                [[${company.status==0?'禁用':'有效'}]]
            </div>
            <div><span class="layui-icon layui-icon-location"></span> 地址：
                [[${company.registeredAddress}]]
            </div>
        </div>
        <div class="company-info">
            <div><span class="layui-icon layui-icon-user"></span> 企业负责人：
                [[${company.leader}]]
            </div>
            <div><span class="layui-icon layui-icon-user"></span> 质量负责人：
                [[${company.qualityLeader}]]
            </div>
            <div><span class="layui-icon layui-icon-user"></span> 药学技术人：
                [[${company.pharmacyPersonnel}]]
            </div>
            <div><span class="layui-icon layui-icon-user"></span> 联系人：
                [[${company.contact}]]
            </div>
            <div><span class="layui-icon layui-icon-phone"></span> 电话：
                [[${company.contactTel}]]
            </div>
            <div><span class="layui-icon layui-icon-mail"></span> 邮箱：
                [[${company.email}]]
            </div>
            <div><span class="layui-icon ayui-icon-survey"></span> 传真(Fax)：
                [[${company.fax}]]
            </div>
        </div>
        <div class="company-info">
            <div><span class="layui-icon layui-icon-file-b"></span> 许可证：
                [[${company.licenseKey}]]
            </div>
            <div><span class="layui-icon layui-icon-date"></span> 许可证有效期：
                [[${#strings.defaultString(company.licenseValidity,'无')}]]
            </div>
            <div><span class="layui-icon layui-icon-file-b"></span> 营业执照号：
                [[${company.businessLicenseNo}]]
            </div>
            <div><span class="layui-icon layui-icon-date"></span> 营业执照有效期：
                [[${#strings.defaultString(company.businessLicenseValidity,'无')}]]
            </div>
            <div><span class="layui-icon layui-icon-file-b"></span> GSP证号：
                [[${company.gspNo}]]
            </div>
            <div><span class="layui-icon layui-icon-date"></span> GSP证有效期：
                [[${#strings.defaultString(company.gspValidity,'无')}]]
            </div>
        </div>
    </div>
</div>